<h1>Edit Topic</h1>

<div class="row">
  <div class="col-md-4">
    <h5>Rules for topics:</h5>
    <ul>
      <li>Try not to duplicate existing topics.</li>
      <li>Be respectful.</li>
      <li>After you create this, check out something new!</li>
      <li>Have fun!</li>
    </ul>
  </div>
  
  <div class="col-md-8">
    <%= render partial: 'form', locals: {topic: @topic} %>
    
  </div>
  
  
  
</div>