<h1>Put up a post for this topic!</h1>

<div class="row">
  <div class="col-md-4">
    <h5>Guidelines for posts:</h5>
    <ul>
      <li>Ask something new.</li>
      <li>Be respectful.</li>
      <li>Check your accuracy.</li>
      <li>Be specific in requests.</li>
    </ul>
  </div>
  
  <div class="col-md-8">
    <%= render partial: 'form', locals: {topic: @topic, post: @post} %>
    
  </div>

</div>